rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Allow users to R/W their own info
    match /users/{userID} {
    	allow read: if request.auth != null &&
      						request.auth.uid == userID;
                  
      allow create: if request.auth != null &&
      							request.auth.uid == userID;

      allow delete: if request.auth != null &&
                                request.auth.uid == userID;

      // Prevent role escalation
      allow update: if request.auth != null &&
      							request.auth.uid == userID &&
                    !(request.resource.data.diff(resource.data).changedKeys().hasAny(['role'])) &&
                    !(request.resource.data.diff(resource.data).changedKeys().hasAny(['uid']));
    }

    function hasRole(role) {
      return request.auth != null
          && exists(/databases/$(database)/documents/users/$(request.auth.uid))
          && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role;
    }
	
	// Linking codes for vets and farmers
	match /connect_codes/{code} {
	  allow create: if hasRole("Vet");
	  allow update: if hasRole("Farmer");
	  allow read: if request.auth != null;
	}
	
	match /connections/{id} {
	  allow create, update, delete: if request.auth != null &&
	    (request.auth.uid == request.resource.data.vetId ||
	     request.auth.uid == request.resource.data.farmerId);
	  allow read: if request.auth != null;
	}

    // Reports Collection
    match /reports/{reportID} {
      allow read, delete: if request.auth != null &&
        (request.auth.uid == resource.data.farmerId ||
         request.auth.uid == resource.data.vetId);

      allow update: if request.auth != null &&
        (request.auth.uid == resource.data.farmerId ||
        request.auth.uid == resource.data.vetId) &&
        !(request.resource.data.diff(resource.data).changedKeys().hasAny(['vetId'])) &&
        !(request.resource.data.diff(resource.data).changedKeys().hasAny(['farmerId']));

      allow create: if request.auth != null &&
        request.auth.uid == request.resource.data.farmerId;
    }
  }
}